
@media only screen and (min-device-width: 320px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	header {
		display: none;
	}
}

@media screen and (min-width: 1700px) {
	.deck {
		width: 49%;
		height: 100%;
	}
	.deck .card {
		height: 160px;
		width: 160px;
	}
}
@media screen and (max-width: 1699px) and (min-width: 1510px) {
	.deck {
		width: 55%;
		height: 100%;
	}
	.deck .card {
		height: 160px;
		width: 160px;
	}
}

@media screen and (max-width: 1509px) and (min-width: 1250px) {
	.deck {
		width: 60%;
		height: 100%;
	}
	.deck .card {
		height: 130px;
		width: 130px;
	}
}

@media screen and (max-width: 1249px) and (min-width: 1040px) {
	.deck {
		width: 63%;
		height: 100%;
	}
	.deck .card {
		height: 130px;
		width: 130px;
	}
	.score-panel {
		width: 50%;
	}
}

@media screen and (max-width: 1039px) and (min-width: 850px) {
	.deck {
		width: 72%;
		height: 100%;
		padding: 2%;
	}
	.deck .card {
		height: 130px;
		width: 130px;
		margin: 1%;
	}
	.score-panel {
		width: 50%;
	}
}

@media screen and (max-width: 849px) and (min-width: 800px) {
	.deck {
		width: 75%;
		height: 100%;
		padding: 2%;
	}
	.deck .card {
		height: 130px;
		width: 130px;
		margin: 1%;
	}
	.score-panel {
		width: 50%;
	}
}

@media screen and (max-width: 799px) and (min-width: 760px) {
	.deck {
		width: 80%;
		min-height: 100%;
		padding: 1%;
	}
	.deck .card {
		height: 130px;
		width: 130px;
		margin: 1%;
	}
	.score-panel {
		width: 50%;
	}
}

@media screen and (max-width: 759px) and (min-width: 610px) {
	.deck {
		width: 64%;
		min-height: 100%;
		padding: 1%;
	}
	.deck .card {
		height: 86px;
		width: 86px;
		margin: 1%;
	}
	.score-panel {
		width: 50%;
	}
}

@media screen and (max-width: 609px) and (min-width: 500px) {
	.deck {
		width: 73%;
		min-height: 100%;
		padding: 1%;
	}
	.deck .card {
		height: 81px;
		width: 81px;
		margin: 1%;
	}
	.score-panel {
		width: 60%;
	}
}

@media screen and (max-width: 499px) and (min-width: 397px) {
	.deck {
		width: 70%;
		min-height: 100%;
		padding: 2%;
	}
	.deck .card {
		height: 60px;
		width: 60px;
		margin: 1%;
	}

	.deck .card.show,
	.deck .card.red,
	.deck .card.white,
	.deck .card.match {
		font-size: 26px;
	}
	.score-panel {
		width: 70%;
	}
	#gameover,
	#res {
		font-size: 2em;
	}
}

@media screen and (max-width: 396px)  and (min-width: 340px) {
	.deck {
		width: 80%;
		min-height: 100%;
		padding: 2%;
	}
	.deck .card {
		height: 58px;
		width: 58px;
	}
	.deck .card.show,
	.deck .card.red,
	.deck .card.white,
	.deck .card.match {
		font-size: 23px;
	}
	.score-panel {
		width: 70%;
	}
	#gameover,
	#res {
		font-size: 2em;
	}

}

@media screen and (max-width: 339px) {
	.deck {
		width: 90%;
		min-height: 100%;
		padding: 2%;
	}
	.deck .card {
		height: 54px;
		width: 54px;
	}
	.deck .card.show,
	.deck .card.red,
	.deck .card.white,
	.deck .card.match {
		font-size: 23px;
	}
	.score-panel {
		width: 70%;
	}
	#gameover,
	#res {
		font-size: 2em;
	}

}
